/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16 maj 2019, 14:11:59
    Author     : magahiperkomp141
*/

@import "_variables.scss";
@import "_mixins.scss";
@import "compass";

$backgroundColor: violet;
$textColor: white;

%center
{
    margin: 0 auto;
    display: block;
}

@function automaticContrast($backgroundColor, $textColor)
{
    @if lightness($backgroundColor) < 50%
    {
        @return lighten($textColor, 30%);
    }
    @else
    {
        @return darken($textColor, 40%);
    }
}

h1
{
    width: 800px;
    font-size: $sizeOfHeader - 20px;
    color: greenyellow;
    padding: 15px;
    @extend %center;
}

nav 
{
    width: 500px;
    @extend %center;
    ul
    {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li
    {
        display: block;
        float: left;
        li
        {
            display: none;
            float: none;
        }
        &:hover li
        {
            display: block;
        }
        ul
        {
            position: absolute;
        }
    }
    
    a
    {
        color: automaticContrast($backgroundColor, $textColor);
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        //@include horizontal-gradient(red, black);
        background: linear-gradient(to right, $backgroundColor, blue);
        &:hover
        {
            color: white;
        }
    } 
}
p
{
    width: 500px;
    height: 30px;
    clear: left;
    background: linear-gradient(to right, yellow, green);
    @extend %center;
}  

// matematyka + responsive

@mixin generateRow($image-in-a-row, $margin-size)
{
    margin-right: $margin-size;
    margin-bottom: $margin-size;
    width: round(100% - ($image-in-a-row * $margin-size))/$image-in-a-row;
    
    /*&:nth-child(#{$image-in-a-row}n)
    {
        margin-right: 0;
    }*/
}

.sass1_portrait
{
    // @include generateRow(4, 1%);
    float: left;
    background-color: #cecece;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    
    .sass1_description
    {
        display: inline-block;
        color: #555;
    }
    
    @media (max-width: 640px)
    {
        @include generateRow(2, 2%);
    }
    @media (min-width: 641px) and (max-width: 1278px)
    {
        @include generateRow(3, 2%);
    }
    @media (min-width: 1279px)
    {
        @include generateRow(4, 2%);
    }
    
    img
    {
        width: 100%;
        height: image-height("9587.png");
        object-fit: contain;
    }
}

// generowanie boxów

%small-box-size
{
    width: 100px;
    height: 100px;
}


@mixin small-box($color)
{
    .small-box-#{$color}
    {
        @extend %small-box-size;
        background-color: $color;
        display: inline-block;
    }
}

@include small-box(red);
@include small-box(green);

// petla @for + @each (rozmiar czcionki headerow) 

/*@for $i from 7 to 0
{
    h#{$i}
    {
        font-size: 60px - $i * 5;
    }
}*/

$header-list: h4 h5 h6 h7;
$i: 0;

@each $current-header in $header-list
{
    #{$current-header}
    {
        font-size: 60px - $i * 5;
    }
    $i: $i + 1;
}
