/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-03-31, 16:44:52
    Author     : magahiperkomp141
*/

#displayImage img
{
    border: 1px dotted black;
    height: 512px;
    left: 10px;
    margin: 5px;
}
#info1
{
    border: 1px dotted red;
    height: 50px;
}
#randomPic
{
    height: 512px;
    display: none;
}
#focia
{
    height: 512px;;
}
#clockInfo
{
    right: 5px;
    top: 5px;
    position: absolute;
}
#slideShow
{
    height: 512px;
}
#slideShowDiv
{
    height: 512px;
    transition: 2s;
    position: relative;
}
#slideShowDiv img
{
    height: 512px;
    opacity: 0;
    position: absolute;
    transition: 2s;
}
#slideShowDiv .current
{
    height: 512px;
    opacity: 1;
    transition: 2s;
}
