/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-03-31, 16:44:52
    Author     : magahiperkomp141
*/

#displayImage img
{
    border: 1px dotted black;
    height: 512px;
    left: 10px;
    margin: 5px;
}
#info1
{
    border: 1px dotted red;
    height: 50px;
}
#randomPic
{
    height: 512px;
    display: none;
}
#focia
{
    height: 512px;;
}
#clockInfo
{
    right: 5px;
    top: 5px;
    position: absolute;
}
#slideShow
{
    height: 512px;
}
#slideShowDiv
{
    height: 512px;
    transition: 2s;
    position: relative;
}
#slideShowDiv img
{
    height: 512px;
    opacity: 0;
    position: absolute;
    transition: 2s;
}
#slideShowDiv .current
{
    height: 512px;
    opacity: 1;
    transition: 2s;
}
.naglowek
{
    background-color: #bbb;
    width: 700px;
    font-family: verdana, geneva, arial;
    font-size: 15px;
    margin-top: 10px;
}
.naglowek span
{
    font-style: italic;
    cursor: pointer;
    color: blue;
}
.ukryty_tekst
{
    background-color: #ddd;
    width: 700px;
    font-family: verdana, geneva, arial;
    font-size: 15px;
    display: none;
}
#photo_list
{
    float: right;
    margin-right: 500px;
}
#photo_list, tr td, tr th
{
    padding: 10px; 
}
.pattern1
{
    background-color: #ABC;
}
.pattern2
{
    background-color: #CBA;
}
.backlight
{
    background-color: #DDD;  
}
.photo_hint
{
    background-color: #333;
    width: 350px;
    height: 350px;
    position: absolute;
    font-size: 10px;
    color: #aaa;
    padding: 15px 20px;
    display: none;
    opacity: 0.8;
}
#hint_data
{
    display: none;
}